html {
    background-color: rgb(234, 233, 231);
}

h1 {
    color: rgb(0, 74, 148);
    font-family: Bahnschrift SemiCondensed;
}

p {
    color: rgb(67, 159, 252);
    font-family: Bahnschrift SemiCondensed;
}